<div class = "grid-module listing-item">
    <div class = "listing-image">Image</div>
    <div class = "listing-title">Product Name</div>
    <div class = "listing-price">$10</div>
    <div class = "listing-description">hello world</div>
</div>