@page "/"

<PageTitle>Index</PageTitle>

<div>
    <NavBar/>
</div>

<div class = "content">
    <div class = "grid-container index-grid">
        <div class="grid-item grid-module">

        </div>
         <div class="grid-module">
           <ul class = "product-list">
            <li><Product_Listing/></li>
            <li><Product_Listing/></li>
            <li><Product_Listing/></li>
            <li><Product_Listing/></li>
            <li><Product_Listing/></li>
            <li><Product_Listing/></li>
            <li><Product_Listing/></li>
            <li><Product_Listing/></li>
           </ul>
         </div>
    </div>
</div>

